

html, body{
	max-width: 1300px;
	margin: 0px auto;
}

.bt{
	background: none;
	border: none;
	padding-top: 8px;
	color: grey;
}

.d1{
	margin-bottom: 150px;
}
.card1{
	background: linear-gradient(to right,#005346,#00927c);
	width:550px;
	height: 375px;
	margin-left: 70px;
	border: none;
	box-shadow: 0 8px 6px -6px grey;
}
.ima1{
	position: absolute;
	right: 0px;
	height: 500px;
}
.p1{
	margin-top: 75px;
	color: white;
}
.card2, .f{
	background-color: #00927c;
	color: white
}
.card2{
	width: 700px;
	height: 400px;
	border-radius: 15px; 
}
.card3{
	height: 400px;
	width: 430px;
	border-style: solid;
	border-color:#00927c;
	border-radius: 15px; 
}
.c1{
	border-style: solid;
	border-color: red;
	border-radius: 15px; 
}
.c22{
	border-style: solid;
	border-color: #00927c;
	border-radius: 15px; 
}
.c3{
	border-style: solid;
	border-color: yellow;
	border-radius: 15px; 
}
.c4{
	border-style: solid;
	border-color: #00927c;
	border-radius: 15px; 
}
.c2{
	border-style: solid;
	border-color: #00927c;
}
.ima2, .ima3, .ima4, .ima5{
	height: 150px;
}
.d2, .d3, .btn{
	background-color:#fc3d32;
	color: white;
}
.btn1{
	background-color: orange;
}
.s1, .s2{
	margin-left: 120px;
}

.b{
	padding-bottom: 100px;
}
.bb{
	position: relative;
	left: 85%;
}
.ima7, .ima8, .ima9, .ima10, .ima11, .ima12{
	height:100px;
}
.ca{
	border-style: none;
	border-radius: 15px;
	box-shadow: 0 6px 4px -6px grey;
}
.btn2, .btn3{
	width: 150px;
	margin-left: 44%;
	margin-right: 44%;
}
.d4{
	margin: 80px 0px;
}
.pf{
	margin-left: 40px;
}
.pf1{
	margin-left: 10px;
}
.pf2{
	margin-left: 35px;
}

.carousel-indicators li {
	background: grey;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}
.carousel-indicators {
  bottom:-75px;
}